.user-0 { color: #7fd4ff; }
.user-1 { color: #a3ff7f; }
.user-2 { color: #7f7fff; }
.user-3 { color: #c87fff; }
.user-4 { color: #ff7fcc; }
.user-5 { color: #ff7f83; }
.user-6 { color: #7ffffd; }
.user-7 { color: #7fffbf; }
.user-8 { color: #d4ff7f; }
.user-9 { color: #ffcc7f; }
