body.console {
  margin: 20px;
  background-color: #313131;
  color: #9dd49d;
  font-family: Consolas, monospace;
  font-size: 1em;
}

.minor {
  color: #3b4f3b;
}

.command {
  color: #fff77f;
}

.arg {
  color: #c2d5c2;
}

.user {
  color: #7fd4ff;
  font-weight: bold;
}

.console-form {
  display: inline-block;
  width: 100%;
}

.console-input, .console-input:focus {
  border: none;
  background: inherit;
  color: inherit;
  width: 94%;
  outline: none;
  font-family: Consolas, monospace;
  font-size: 1em;
}

ul, ol, li {
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}

.chat-user-name {
  font-weight: bold;
}

.chat-dt {
  font-style: italic;
}

.chat-logout-btn {
  text-align: right;
}



