/* You can add global styles to this file, and also import other style files */
ul, ol, li {
  list-style-type: none;
  padding: inherit;
  margin: inherit;
}

.chat-user-name {
  font-weight: bold;
}
