<ul>
  <li class="console-log-item" *ngFor="let log of logs">
    <span *ngIf="textConsoleItem(log) as textLog">{{textLog.txt}}</span>
    <span *ngIf="unknownCommandConsoleItem(log) as unk"><span class="minor">unknown command: </span>{{unk.command}}</span>
    <span *ngIf="simpleCommandConsoleItem(log) as cmd"><span class="command">{{cmd.command}} </span>
      <span *ngFor="let arg of cmd.args" class="arg">{{arg}} </span>
    </span>
    <span *ngIf="chatConsoleItem(log) as msg">
      <span class="user">{{msg.message.user}}: </span>
      <span class="message">{{msg.message.msg}} </span>
    </span>
  </li>
</ul>
